body {
  margin: 0%;
  font-family: sans-serif;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #e1f6fa;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-container {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0px 40px;
  text-align: center;
  margin: 0%;
}

.header-container img {
  display: block;     /* elimina espacio inferior */
  max-height: 100%;   /* no se sale del header */
}

.footer {
  background: #000;
  color: white;
  padding: 60px 40px;
}

.footer-top {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  gap: 40px;
}

.footer h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer h5 {
  color: #00aaff;
  margin-bottom: 15px;
}

.footer p {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-links a {
  display: block;
  color: #aaa;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-links a:hover {
  color: white;
}

.btn-download {
  background: #00aaff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
}

.btn-download-animated {
  background: #00aaff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
  transition: 
  background-color 0.3s ease,
  box-shadow 0.3s ease,
  transform 0.3s ease;
}

.btn-download-animated:hover {
  box-shadow: 0 10px 25px rgba(0, 149, 255, 0.4);
}

.footer-bottom {
  max-width: 1200px;
  margin: 40px auto 0;
  padding-top: 30px;
  border-top: 1px solid #222;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom span {
  color: #aaa;
}

.footer-bottom select {
  background: #000;
  color: white;
  border: 1px solid #555;
  padding: 10px 20px;
  border-radius: 20px;
}

.section {
  width: 100%;
  padding: 80px 40px;
  position: relative;
  overflow: hidden;
}

.section-content {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  z-index: 1;
}

.section.light {
  background: linear-gradient(120deg, #eaf7fb, #cdeff7);
  position: relative;
  overflow: hidden;
}

.image {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  position: relative;
  z-index: 1;
}

.section.blue {
  background-color: #0095ff;
  color: white;
  position: relative;
  overflow: hidden;
}

.section.blue p {
  color: #e0f3ff;
}

.logo img {
  height: 50px;
}

.nav a {
  text-decoration: none;
  color: #333;
  padding: 5%;
}

.nav a:hover {
  color: #0095ff;
}


.download {
  display: flex;
  justify-content: end;
}

.download img {
  height: 40px;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #0095ff;
}

h2 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: white
}

p {
  font-size: 16px;
  max-width: 420px;
}



